<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
  <title>SSP - Scan Scanners and Printers</title>
  <link rel="stylesheet" href="/estatico/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/estatico/css/fontawesome.min.css" />
  <link rel="stylesheet" href="/estatico/css/scan-scanners-and-printers.css">
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
  rel = "stylesheet">
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

  <nav>
    <div class="menu-icon">
      <span class="fas fa-bars"></span></div>
    <div class="logo">
      Scan Scanners and Printers</div>
    <div class="nav-items">
      <li><a href="/">Home</a></li>
      <li><a href="/impressoras">Todas</a></li>
      <li><a href="/impressoras-offline">Offlines</a></li>
      <li><a href="/impressoras-printwayy">Atualizar</a></li>
      <li><a href="https://app.printwayy.com/">PrintWayy</a></li>
      <li><a href="#">Feedback</a></li>
    </div>
  </nav>
  <script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
    menuBtn.onclick = () => {
      items.classList.add("active");
      menuBtn.classList.add("hide");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
    cancelBtn.onclick = () => {
      items.classList.remove("active");
      menuBtn.classList.remove("hide");
      searchBtn.classList.remove("hide");
      cancelBtn.classList.remove("show");
      form.classList.remove("active");
      cancelBtn.style.color = "#ff3d00";
    }
    searchBtn.onclick = () => {
      form.classList.add("active");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
  </script>


</html>