<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <body>
    <header class="cabecalhoPrincipal">
      <include-html("../menu.html")/>
      <script>
        $(function() {
          $(document).tooltip( {track:true});
        });
      </script>
      <link rel="stylesheet" type="text/css" href="/estatico/css/lista.css"/>
    </header>
    <main class="conteudoPrincipal">
      <div class="container">
        <h1>
          ${data.impressoras.length} Impressoras
          <if(data.offline == "true")>Offline</if>
        </h1>
        <table id="impressoras" class="table table-striped table-hover table-responsive-lg">
          <thead class="thead-light">
            <tr>
              <th>Empresa</th>
              <th>Fabricante</th>
              <th>Modelo</th>
              <th>Número de Série</th>
              <th>Ponto</th>
              <th>IP da Máquina</th>
              <th>Ultima Comunicação</th>
              <if(data.offline == "true")>
                <th>Alterar Status</th>
              </if>
            </tr>
          </thead>
          <tbody>
            <tr class=`status_${impressora.scan_status}` title=`${impressora.scan_status} - ${impressora.scan_observation}` id="impressora_${impressora.id}" for(impressora in data.impressoras)>
              <td>
                ${impressora.customer_name}<if(impressora.customer_name == "")>Não esta no cliente</if>
              </td>
              <td>${impressora.manufacturer}</td>
              <td>${impressora.model}</td>
              <td>${impressora.serialNumber}</td>
              <td>${impressora.installationPoint}</td>
              <if(impressora.tipo_conexao == "usb")>
                <td>USB</td>
              </if>
              <else-if(impressora.tipo_conexao == "network")>
                <td>${impressora.ipAddress}</td>
              </else-if>
              <else>
                <td>Unknown</td>
              </else>
              <td>
                ${impressora.lastCommunication}<if(!impressora.lastCommunication)>nulo</if>
              </td>
              <if(data.offline == "true")>
                <td>
                  <a class="button-link" href=`/impressoras/form/${impressora.id_way}`>Editar</a>
                </td>
              </if>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <input type="submit" value="Abrir caixa" class="btn btn-primary"/>
      </div>
    </main>
  </body>
</html>
