<html>
  <head/>
  <body>
    <header class="cabecalhoPrincipal">
      <include-html("../../menu.html")/>
    </header>
    <main class="conteudoPrincipal">
      <div class="container">
        <h2>Alterar Impressora ${data.impressora.serialNumber} ( ${data.impressora.manufacturer} - ${data.impressora.model} )</h2>
        <h4>${data.impressora.customer_name}</h4>
        <form action="/impressoras-offline" method="post">
          <div if(data.impressora.id)>
            <input type="hidden" name="_method" value="PUT"/>
            <input type="hidden" name="id_way" value="${data.impressora.id_way}"/>
          </div>
          <div class="row">
            <div class="form-group col">
              <select class="form-control" id="scan_status" name="scan_status" placeholder="Selecione o Status">
                <option value="" ${data.impressora.scan_status == "" ? `selected` : ``}>Nenhum</option>
                <option value="andre" ${data.impressora.scan_status == "andre" ? `selected` : ``}>André</option>
                <option value="cantCheck" ${data.impressora.scan_status == "cantCheck" ? `selected` : ``}>Impossível checagem presencial</option>
                <option value="noMonitoring" ${data.impressora.scan_status == "noMonitoring" ? `selected` : ``}>Sem monitoramento</option>
                <option value="recentlyLost" ${data.impressora.scan_status == "recentlyLost" ? `selected` : ``}>Novo (em observação)</option>
                <option value="keven" ${data.impressora.scan_status == "keven" ? `selected` : ``}>Passado para Keven</option>
                <option value="everythingOk" ${data.impressora.scan_status == "everythingOk" ? `selected` : ``}>Não precisa conferir</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="descricao">Observações:</label>
            <textarea cols="20" rows="10" id="scan_observation" name="scan_observation" placeholder="Adicione observações..." class="form-control">${data.impressora.scan_observation}</textarea>
          </div>
          <input type="submit" value="Salvar" class="btn btn-primary"/>
        </form>
      </div>
    </main>
  </body>
</html>
